@import '../../assets/common.scss';

$chervron-width: 20px;

.carousel-container {
  width: #{(2 * $tile-width) + (4 * $tile-margin)};
  margin: 0 auto;
  position: relative;

  .carousel-frame {
    overflow: hidden;

    .carousel-slider {
      transition: all 1s linear;
      display: flex;
    }
  }

  .carousel-control {
    position: absolute;
    right: 0;
    top: $tile-width / 2;
    cursor: pointer;

    .chevron {
      display: inline-block;
      width: $chervron-width;
      height: $chervron-width;
      transform: translate(100%, -50%) rotate(45deg);
      transform-origin: #{$chervron-width / 2} #{$chervron-width / 2};
      border-top: 5px solid;
      border-right: 5px solid;
    }
  }
}